<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>FeatureName</string>
	<key>Description</key>
	<string>A View with its Reducer placeholder</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string></string>
			<key>Description</key>
			<string>Feature Name</string>
			<key>Identifier</key>
			<string>featureName</string>
			<key>Name</key>
			<string>Feature:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array/>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>A View with its Reducer</string>
	<key>SupportsSwiftPackage</key>
	<true/>
</dict>
</plist>
